{% extends 'layout.html' %}
{% block content %}

<div>
    <p align="justify" style="width:850px; margin-left:6.4em; font-size:18px">In this Github repository, you can find the implementation 
        of several classical machine learning classification algorithms (most notably the MultiNomial Naive Bayes) and another classification 
        algorithm from the deep-learning category: BERT-based neural network implementation. You can also find the codes used to download the 
        data from reddit and also the Flask codes used to implement the current website:  <a href="https://github.com/hashem20/wordpsych">
        https://github.com/hashem20/wordpsych</a></p>
</div>

<div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


{% endblock content %}