{% extends 'layout.html' %}

{% block content %}

	<h4 style="width:900px; margin-left:5.5em; font-size:21px">Start by choosing one of the methods below to enter/import your text:</h4>

	<h3 style="width:900px; margin-left:6.4em; font-size:18px">(for more accurate results enter at least 500 characters)</h3><br>

	<div class="row" style="width:900px; margin-left:6em; font-size:18px">

		<div class="column" >
			<article class="media content-section">
		      <div class="media-body">
		        <div class="article-metadata">
		          <a class="mr-2" href={{ url_for('text') }}>Text</a>
		        </div>
		        <h6><a class="article-title" href={{ url_for('text') }}>enter text</a></h6>
		      </div>
		    </article>
		</div>

		<div class="column">
		    <article class="media content-section">
		      <div class="media-body">
		        <div class="article-metadata">
		          <a class="mr-2" href={{ url_for('file') }}>File</a>
		        </div>
		        <h6><a class="article-title" href={{ url_for('file') }}>upload a .txt file</a></h6>
		      </div>
		    </article>
		</div>

		<div class="column">
		    <article class="media content-section">
		      <div class="media-body">
		        <div class="article-metadata">
		          <a class="mr-2" href={{ url_for('reddit') }}>reddit</a>
		        </div>
		        <h6><a class="article-title" href={{ url_for('reddit') }}>import from reddit</a></h6>
		      </div>
		    </article>
		</div>

		<div class="column">
		    <article class="media content-section">
		      <div class="media-body">
		        <div class="article-metadata">
		          <a class="mr-2" href={{ url_for('twitter') }}>twitter by id</a>
		        </div>
		        <h6><a class="article-title" href={{ url_for('twitter') }}>import from twitter</a></h6>
		      </div>
		    </article>
		</div>

		<div class="column">
		    <article class="media content-section">
		      <div class="media-body">
		        <div class="article-metadata">
		          <a class="mr-2" href={{ url_for('twitter2') }}>twitter by username</a>
		        </div>
		        <h6><a class="article-title" href={{ url_for('twitter2') }}>import from twitter</a></h6>
		      </div>
		    </article>
		</div>

	</div>

{% endblock content %}