{% extends 'layout.html' %}
{% block content %}

<div>
	<p align="justify" style="width:900px; margin-left:4.7em; font-size:24px"><strong>WordPsych provides you with a rough estimate of the similarities between your texts and the texts of people with different psychiatric conditions. It might help you to get a better insight on where you stand on the measures of anxiety, depression and etc. comparing to other people.*</strong></p>
</div>


<div>
	<br><br><br>
	<p align="justify" style="width:900px; margin-left:7.5em; font-size:16px">*Disclaimer: This is by no means a "diagnosis" of any kind. To get a proper diagnosis you need to consult a psychiatrist. The similarity scores you obtain here, are just a very rough estimate of the similarity degree between your written language and those of other people in several psychiatric categories. Even assuming that this estimate is accurate, we cannot conclude a diagnosis from it, let aside that these scores are highly probabalistic and uncertain. In the same manner, if it shows no or low similarities between your text and those psychiatric groups, it doesn't mean that you are not qualified for a diagnosis. We only suggest that if one of the scores turned out relatively high, it might help to consult a specialist for a true appraisal.</p>
</div>

{% endblock %}