{% extends 'layout.html' %}
{% block content %}

<p style="width:900px; margin-left:5em; font-size:23px"><strong>Because early identification and treatment of mental illness are of vital importance:</strong></p><br>

<ul style="width:900px; margin-left:5em; font-size:18px">

<li><span>In the United States, 46% of adults will experience a mental illness during their lifetime.</span></li>
<li><span>In many cases, a mental illness goes undiagnosed.</span></li>
<li><span>
	Untreated mental health conditions can result in
	<ul>
		<li>shrinkage of key brain areas</li>
		<li>unnecessary disability, unemployment,</li>
		<li>substance abuse, homelessness, </li>
		<li>inappropriate incarceration,</li>
		<li>suicide, & poor quality of life</li>
	</ul>


</span></li>

<li><span>Untreated mental illnesses cost about $100 billion a year in lost productivity.</span></li>

</ul>

{% endblock content %}